package ${mainPkg}.dao;

import java.util.List;

import org.apache.ibatis.annotations.Param;

import ${mainPkg}.model.${className};
import ${rootPkg}.framework.page.PaginationSupport;

public interface ${className}Mapper {
	
	int insert(${className} record);
	
	int deleteById(Integer id);

	int update(${className} record);

	${className} selectById(Integer id);

	List<${className}> queryPage(
			@Param("pageBean") PaginationSupport ps,
			@Param("vo") ${className} record);
}